body{
    background-color: #f1f1f1;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

#profile{
    width: 200px; 
    height: 200px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile:hover{
    width: 400px; 
    height: 400px;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.blog{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}

#blog-image{
    width: 300px; 
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#favourite{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#favourite2{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.description{
    display: flex;
    align-items: flex-end;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.description h3{
    text-align: left;
}

.description p{
    text-align: left;
}


#comment{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#comment2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#submit2{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#socials{
    display: flex;
    justify-content: space-around ;
}

#socials li {
    list-style-type: square;
}




.blog {
float: left;
padding: 10px;
}

.column.left,
.column.right {
width: 22%; /* Because of .column padding */
}

.column.middle {
width: 50%;
}

@media screen and (max-width: 600px) {
.column.left,
.column.middle,
.column.right {
    width: 100%;
}
}

.blog:after {
    content: "";
    display: table;
    clear: both;
  }